:root {
  --color-white: #ffffff;
  --color-bg: #fdfffd;
  --color-bg-dark: #dfdfdf;
  --color-grey: #d8d4d4;
  --color-text: #22243b;
  --color-accent: #1A4D2E;
  --color-scrollbar: #FAF3E3;
  --color-body: #DCD7C9;
}

html.dark {
  --color-bg: #393e46;
  --color-bg-dark: #222831;
  --color-text: #d8d4d4;
  --color-grey: #585a5e;
  --color-accent: #FF9F29;
  --color-body: linear-gradient(90deg, rgba(23,26,31,1) 0%, rgba(35,39,46,1) 44%, rgba(43,49,57,1) 100%);;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgb(255, 255, 255);
  background: var(--color-body);
}
#root {
  width: 100%;
  max-width: 500px;
  height: 60%;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

button {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
